/* Custom */
@font-face {
  font-family: "BarleyScript";
  src: url("../fonts/BarleyScript-Regular.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BarleyScriptTextured";
  src: url("../fonts/BarleyScript-Textured.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "FairyPlague";
  src: url("../fonts/FairyPlague-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

body {
    background-image: url("../images/hardwood.jpg");
    background-position: top middle;
    background-repeat: repeat;
    background-clip: border-box;
}

a {
    color: #262262;
    text-decoration: none;
}

#eye {
  position: absolute;
  width:10.5%;
  top: 43%;
  left: 41.5%;
}

.letter {
  background-image: url("../images/page_paper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  border-radius: 3px;
  box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: "BarleyScriptTextured", cursive;
  font-size: 1.9rem;
  text-align: justify;
  color: #333333;
  position: relative;
  margin-top: 50px;
}

.opener {
  font-family: "BarleyScriptTextured", cursive;
  font-size: 2.1rem;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 5px;
}

.signature {
  text-align: right;
  font-family: "BarleyScriptTextured", cursive;
  font-size: 32pt;
  padding-right: 25px;
  transform: rotate(2deg);
}

.sig-caps {
  font-size: 36pt;
}

.tag-holder {
  background-color: black;
  position: relative;
  margin: auto;
  overflow: hidden;
  margin-top: 10px;
  border-radius: 2px;
  box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.25);
}

.tag {
  font-family: "FairyPlague", serif;
  font-size: 16pt;
  line-height: normal;
  color: #262262;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  display: block;
  padding: 10px;
}

.t1 {
  background-image: url("../images/paper-14.jpg");
}

.t2 {
  background-image: url("../images/paper-15.jpg");
}

.t3 {
  background-image: url("../images/paper-16.jpg");
}

.t1-text:hover {
  background-image: none;
  opacity: 0;
}

.t1-text {
  position: relative;
  z-index: 2;
}

.t1-text:hover {
}

.t1-alt {
  background-image: none;
  color: white;
  display: block;
  width: 100%;
  position: absolute;
  top:0;
  z-index: 1;
}

.t1-alt:hover {
}

.thumbtack {
  position: absolute;
  width:100%;
  top: 5px;
  left: 0px;
}

.btn-black {
  background-color: black;
  color: white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-black:hover {
  background-color: white;
  color: black;
  border: 1px solid;
  border-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

[button-theme="sans-serif"] a {
  text-decoration: underline;
}

[button-theme="sans-serif"] .btn-black {
  background-color: white;
  color: black;
}

[button-theme="sans-serif"] .letter, [button-theme="sans-serif"] .tag,
[button-theme="sans-serif"] .opener, [button-theme="sans-serif"] .signature {
  font-family: "Calibri", sans-serif;
}
